  body {
    background: #262525;
    color: #E5E5E5;
}

 /* .navbar {
    margin-left: 780px;
 } */

li{
    
    display: inline;
    color: #E5E5E5;
    padding: 10px;
    font-size: 20px;
    
    
}

.button {
    
background: #262525;
width: 100px;
height: 30px;
font-size: 20px;
border: solid 1px #4744D9;
border-radius: 30px;



color: #4744D9

}

/* .pic-svg {
    
    float: right;
    margin-top: 100px;
    
} */

.content {

/* font-family: Roboto;
font-style: normal;
font-weight: normal;
/* line-height: 64px; */
height: 90vh;
font-size: 2rem; 
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 3rem;

/* I am a web developer, programmer and designer */
/* 
position: absolute;
width: 552px;
height: 44px;
left: 141px;
top: 200px; */
/* 
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px; */

}

.nav-bar{
    display: flex;
justify-content: space-between;

}

li a {
    color: #E5E5E5;
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    
}

.about {
    font-size: 2rem;
    text-align: center;
    margin: 0 3rem;
}

.image {
    /* Rectangle 1 */


width: 321px;
height: 267px;


}
.project{
    text-align: center;
    font-size: 2rem;

}
.wrap-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    font-size: 2rem;

}

.blog{
    text-align: center;
    font-size: 2rem;

}

.wrap-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 0 3rem;
    font-size: 2rem;

}
 .contact{
     display: flex;
     justify-content: space-around;
 }
 
 .right form{
     display: flex;
     flex-direction: column;
 }
 form input, textarea{
     padding: 1rem;
     background: transparent;
     border-radius: 50px;
     border: 1px solid white;
     margin: 1rem 0;
 } 
 .submit-btn{
     background: rgb(0, 153, 255);
     max-width: 50%;
     border: none;
 }
  