  body {
    background: #262525;
    color: #E5E5E5;
}


li{
    
    display: inline;
    color: #E5E5E5;
    padding: 10px;
    font-size: 20px;
    
    
}

.button {
    
background: #262525;
width: 100px;
height: 30px;
font-size: 20px;
border: solid 1px #4744D9;
border-radius: 30px;



color: #4744D9

}



.content {

height: 90vh;
font-size: 2rem; 
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 3rem;

}

.nav-bar{
    display: flex;
justify-content: space-between;

}

li a {
    color: #E5E5E5;
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    
}

.about {
    font-size: 2rem;
    text-align: center;
    margin: 0 3rem;
}

.image {

width: 321px;
height: 267px;


}
.project{
    text-align: center;
    font-size: 2rem;

}
.wrap-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
    font-size: 2rem;

}

.blog{
    text-align: center;
    font-size: 2rem;
    

}

.wrap-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 0 3rem;
    font-size: 2rem;

}
 .contact{
     display: flex;
     justify-content: space-around;
 }
 
 .right form{
     display: flex;
     flex-direction: column;
 }
 form input, textarea{
     padding: 1rem;
     background: transparent;
     border-radius: 50px;
     border: 1px solid white;
     margin: 1rem 0;
 } 
 .submit-btn{
     background: rgb(0, 153, 255);
     max-width: 50%;
     border: none;
 }

 .blog-btn {
    background: rgb(0, 153, 255);
    max-width: 50%;
    border-radius: 50px;
    border: 1px solid white;
    margin: 0 35rem;
    width: 150px;
    height: 40px;
 }
  
 .contact-head{
     margin: 5rem 35rem;
 }